/*comment here*/
body {
    background-color: rgb(54, 60, 66);
    color: aliceblue;
}

main {
    background-color: lightgoldenrodyellow;
    color:rgb(36, 46, 56);
    margin: 50px 10px 100px 200px;
    width: 650px;
}

header {
    background-color: dimgray;
    color:azure;
    padding: 100px;
    border: 50px double rosybrown;
}

.box {
    font-size: 30px;
    width: fit-content;
    background-color: hotpink;
    color:yellow;
    padding: 10px;
    border: 10px solid darkturquoise;
}
h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategrey;
    width: 1000px;
    margin: 20px 100px;
    padding: 40px;
    border: 10px solid beige;
}

h2 {
    font-size: 35px;
    color: rgb(37, 209, 135);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(67, 98, 75);
}

p,
ul {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.intro {
    font-size: 30px;
}

#intro-1 {
    font-size: 25px;
}

#center-paragraph {
   text-align: center;
}

strong {
    color: coral;
}

em {
    color: gold;
}

a {
    color: greenyellow;
}

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}