/*comment here*/
body {
    background-color: rgb(54, 60, 66);
    color: aliceblue;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategrey;
}

h2 {
    font-size: 35px;
    color: rgb(37, 209, 135);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(67, 98, 75);
}

p,
ul {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.intro {
    font-size: 30px;
}

#intro-1 {
    font-size: 25px;
}

#center-paragraph {
   text-align: center;
}

strong {
    color: coral;
}

em {
    color: gold;
}

a {
    color: greenyellow;
}

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}